body{background-color:white;}

img, table{
	width:165px;
	margin:0em auto;
	border:1.5px black solid;
	display:block;
	
}

button{
  background-color: #4CAF50;
  border:none;
  color:white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button[type=button]:hover {
  background-color: #45a049;
}

fieldset{width:140px;background-color:yellow;}

label {display:block; float:left;}

label,input {width:68px; margin:3px 0;}

th,td{border:2px solid black; font-size:0.8em;margin:0 auto; text-align:center; }

form,fieldset{margin:0 auto;}

footer{border:1px solid black; text-align:center;background-color:#DDDDDD;}

header{border:1px solid black; text-align:center; color:blue; background-color:#DDDDDD;}
