body{background-color:white;}

img, table{
	width:165px;
	margin:0em auto;
	border:1.5px black solid;
	display:block;
	
}

a{
  border:2px black;
  background-color:white;	
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a:hover {
  color:red;
}

a:active {
  color:blue;
}
fieldset{width:140px;background-color:yellow;}

label {display:block; float:left;}

label,input {width:68px; margin:3px 0;}

th,td{border:2px solid black; font-size:0.8em;margin:0 auto; text-align:center; }

form,fieldset{margin:0 auto;}

footer{border:1px solid black; text-align:center;background-color:#DDDDDD;}

header{border:1px solid black; text-align:center; color:blue; background-color:#DDDDDD;}
