div.container aside.aside {
  background: darkgray;
  width: 300px;
  color: white;
}

div.container aside.aside .contact {
  padding: 10px 10px 0 10px;
}

div.container aside.aside .contact h2 {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(116, 116, 116, 0.6);
}

div.container aside.aside .contact ul {
  width: 210px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

div.container aside.aside .contact ul li {
  display: flex;
  align-items: center;
  margin: 5px;
}

div.container aside.aside .contact ul li div.asidlinks {
  display: flex;
  align-items: center;
}

div.container aside.aside .contact ul li div.asidlinks:hover {
  color: green
}

div.container aside.aside .contact ul li a {
  text-decoration: none;
  margin: 5px;
}

div.container aside.aside .contact ul li a:link,
a:visited,
a:active {
  color: white;
}

div.container aside.aside .contact ul li a:hover {
  text-decoration: underline green 2px solid;
}

div.container aside.aside .contact ul li span {
  margin: 5px;
}

div.container aside.aside .skills {
  padding: 10px 10px 10px 10px;
}

div.container aside.aside .skills h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(116, 116, 116, 0.6);
  border-top: 2px solid rgba(116, 116, 116, 0.6);
}

div.container aside.aside .skills h3 {
  font-size: 16px;
  text-align: center;
  padding: 10px 0px;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes progress-animation-before {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div.container aside.aside .skills progress {
  text-align: left;
  margin: 5px 0px;
  height: 25px;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  position: relative;
  animation: progress-animation 2s linear;
}

div.container aside.aside .skills progress::before {
  content: attr(data-label);
  font-size: 16px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  vertical-align: 1;

  animation: progress-animation-before 6s ease-in;
  position: absolute;
  left: 2px;
  top: 5px;
}

progress::-webkit-progress-bar {
  background-color: #c9c9c9;
}

.softSkills progress::-webkit-progress-value {
  background-color: #1df232;
}

.softSkills progress::-moz-progress-bar {
  background-color: #1df232;
}

progress::-webkit-progress-value {
  background-color: #2561f6;
}

progress::-moz-progress-bar {
  background-color: #2561f6;
}