.context-app {
  display: flex;
  flex-direction: column;

  width: 900px;
  height: 100%;
  margin: 0 auto;
  background: #ffff;
}

div.container {
  display: flex;
  justify-content: space-between;
}

main.main {
  padding: 0 40px;
}

main.main section {
  margin-bottom: 10px;
}

main.main section h2 {
  margin-bottom: 10px;
  color: darkgray;
  border-bottom: 2px solid #7cc4ff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.main section div.formacao {
  display: flex;
  margin-left: 40px;
  margin-bottom: 20px;
}

main.main section div.formacao .periodo {}

main.main section div.formacao .instituicao {
  margin-left: 40px;
}


main.main section p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.8;
}