div.header-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    width: 100%;
}

div.header-container img {
    width: 214px;
}

div.header-container .title {
    margin-right: 20px;
    /* margin-left: 50px; */
    padding-left: 40px;
}

div.header-container .title h1 {
    color: rgb(64, 64, 240);
}

div.header-container .title h3,
h4 {
    color: rgb(124, 122, 122);
}